#### Exercício 01 – Operações com Pandas

a) Abra o arquivo World Happiness.

In [1]:
# Importar a biblioteca

import pandas as pd

# Mapeamento do caminho e arquivo

path = 'O:\\Curso Python- Big Data - Escola SENAI Suiço Brasileira\\Eduardo-Inocencio-Python\\Arquivos\\'
file = 'world_happiness_report_2015.csv'

# Abrir o arquivo

df = pd.read_csv(path + file)

# Cabeçalhos do dataframe

df.head()

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

b) Qual a média do score_felicidade?

In [6]:
media = df['happiness score'].mean()

# A função round trata a quantidade de números após a vírgula
media = round(media,3)

print('A média da coluna Happiness Score é:', media)

A média da coluna Happiness Score é: 5.424

c) Qual a soma do PIB?

In [7]:
soma = df['economy (GDP per Capita)'].sum()

print('A soma da coluna PIB é: ', soma)

A soma da coluna PIB é:  141.37172

d) Qual a soma do freedom e corrupção?

In [8]:
df[['freedom','trust (Government Corruption)']].sum()

freedom                          71.33320
trust (Government Corruption)    24.59645
dtype: float64

e) Há dados duplicados? Quantos? Verifique quais são eles?

In [14]:
# Quantidade de elementos duplicados?
df.duplicated().sum()

6

f) Verifique a quantidade de dados faltantes.

In [22]:
# Exibir a quantidade de informações nulas nos campos da tabela
df.isnull().sum()

country                           0
region                            0
happiness rank                    0
happiness score                   8
standard error                    1
economy (GDP per Capita)          0
family                            0
health (Life Expectancy)          0
freedom                           0
trust (Government Corruption)     0
generosity                        0
dystopia residual                14
dtype: int64

g) Crie um dataframe onde os valores faltantes de score_felicidade sejam
substituídos por -9999.

In [25]:
# O comando df.loc está selecionando todas as linhas (:) da coluna happiness score
# e então os nulos são substituídos por -9999

df.loc[:,['happiness score']] = df.loc[:,['happiness score']].fillna(-9999)

df.isnull().sum()

country                           0
region                            0
happiness rank                    0
happiness score                   0
standard error                    1
economy (GDP per Capita)          0
family                            0
health (Life Expectancy)          0
freedom                           0
trust (Government Corruption)     0
generosity                        0
dystopia residual                14
dtype: int64

h) Quantas e quais são as regiões existentes nos dados?

In [28]:
# Calcula a quantidade de registros duplicados

df.region.duplicated().sum()

154

In [29]:
# Remove as duplicadas e insere em um novo dataframe

df_region = df.region.drop_duplicates()

In [30]:
# Calcular a quantidade de regiões únicas

df_region.count()

10

In [31]:
# Quais são essas regiões?

df_region

0                      Western Europe
4                       North America
8           Australia and New Zealand
10    Middle East and Northern Africa
15        Latin America and Caribbean
27                  Southeastern Asia
36         Central and Eastern Europe
43                       Eastern Asia
76                 Sub-Saharan Africa
84                      Southern Asia
Name: region, dtype: object

i) Verifique a frequência dos dados segundo suas regiões. Qual a região com maior
quantidade de dados? E a região com a menor quantidade?

In [32]:
df.region.value_counts()

region
Sub-Saharan Africa                 40
Central and Eastern Europe         29
Western Europe                     24
Latin America and Caribbean        23
Middle East and Northern Africa    21
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       3
Australia and New Zealand           2
Name: count, dtype: int64