### Exercício 03 – Manipulando dados com Pandas

a) Crie um programa em pandas para ler o arquivo em Excel vendas.xlsx e

b) Coloque em um dataframe.

c) Visualize o cabeçalho dos dados;

In [1]:
# Importar a biblioteca
import pandas as pd

# Mapear o diretório e o arquivo

caminho = 'C:\\Users\\Aluno\\Documents\\Eduardo-Inocencio-Python\\Arquivos\\'
arquivo = 'Vendas.xlsx'

# Atribuir os dados a um dataframe

df = pd.read_excel(caminho + arquivo, sheet_name='Planilha1')

# Visualizar os cabeçalhos

df.head()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
0,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AL,3276.20
1,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AP,3005.86
2,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MA,8568.54
3,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MG,1344.27
4,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MS,7585.04

d) Visualize as últimas linhas;

In [2]:
# Visualizar as últimas linhas do dataframe

df.tail()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
130461,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PI,1829.39
130462,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PR,2378.48
130463,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RO,4488.47
130464,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RR,1543.66
130465,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,SC,9820.71

e) Escreva um programa para renomear o cabeçalho da tabela com os seguintes nomes:

In [3]:
df.columns = ['Data','Vendedor','Cargo','Clientes','UF','Vendas']
df.head()

        Data           Vendedor                    Cargo Clientes  UF   Vendas
0 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl     ACME  AL  3276.20
1 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl     ACME  AP  3005.86
2 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl     ACME  MA  8568.54
3 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl     ACME  MG  1344.27
4 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl     ACME  MS  7585.04

f) Quais são os tipos de dados que temos no dataframe?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130466 entries, 0 to 130465
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Data      130466 non-null  datetime64[ns]
 1   Vendedor  130466 non-null  object
 2   Cargo     130466 non-null  object
 3   Clientes  130466 non-null  object
 4   UF        130466 non-null  object
 5   Vendas    130466 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 6.0+ MB

h) Há valores faltantes ou nulos?

In [11]:
# identificar quais registros são nulos
df['Vendas'].isnull()

# quantificar os elementos nulos
df['Vendas'].isnull().sum()

0

i) Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.

In [ ]:
print('O total da coluna Vendas é:', df['Vendas'].sum())

print('A média da coluna Vendas é:', df['Vendas'].mean())

print('O maior valor da coluna  Vendas é:', df['Vendas'].max())

print('O menor valor da coluna  Vendas é:', df['Vendas'].min())

j) Crie um programa para criar um dataframe para mostrar as vendas por cargo, e
salvar um arquivo em csv para com o nome de cada cargo:

###### Supervisor de Vendas PL

In [18]:
# Filtrar as vendas de acordo com o cargo

dados = df[df['Cargo'] == 'Supervisor de Vendas Pl']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\Aluno\\Documents\\Eduardo-Inocencio-Python\\Arquivos\\relatorios_por_cargo\\'
arquivo = 'Supervisor de Vendas PL.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo, encoding='ANSI')

###### Gerente Regional Jr.

In [19]:
# Filtrar as vendas de acordo com o cargo

dados = df[df['Cargo'] == 'Gerente Regional Jr.']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\Aluno\\Documents\\Eduardo-Inocencio-Python\\Arquivos\\relatorios_por_cargo\\'
arquivo = 'Gerente Regional Jr.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo, encoding='ANSI')

###### Supervisor de Vendas Sr

In [20]:
# Filtrar as vendas de acordo com o cargo

dados = df[df['Cargo'] == 'Supervisor de Vendas Sr']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\Aluno\\Documents\\Eduardo-Inocencio-Python\\Arquivos\\relatorios_por_cargo\\'
arquivo = 'Supervisor de Vendas Sr.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo, encoding='ANSI')

###### Coordenador de Vendas Pl.

In [28]:
# Filtrar as vendas de acordo com o cargo

dados = df[df['Cargo'] == 'Coordenador de Vendas Pl.']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\Aluno\\Documents\\Eduardo-Inocencio-Python\\Arquivos\\relatorios_por_cargo\\'
arquivo = 'Coordenador de Vendas Pl.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo, encoding='ANSI')

###### Vendedor Jr.

In [27]:
# Filtrar as vendas de acordo com o cargo

dados = df[df['Cargo'] == 'Vendedor Jr.']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\Aluno\\Documents\\Eduardo-Inocencio-Python\\Arquivos\\relatorios_por_cargo\\'
arquivo = 'Vendedor Jr.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo, encoding='ANSI')

###### Vendedor Sr.

In [21]:
# Filtrar as vendas de acordo com o cargo

dados = df[df['Cargo'] == 'Vendedor Sr.']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\Aluno\\Documents\\Eduardo-Inocencio-Python\\Arquivos\\relatorios_por_cargo\\'
arquivo = 'Vendedor Sr.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo, encoding='ANSI')

###### Vendedor Pl.

In [22]:
# Filtrar as vendas de acordo com o cargo

dados = df[df['Cargo'] == 'Vendedor Pl.']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\Aluno\\Documents\\Eduardo-Inocencio-Python\\Arquivos\\relatorios_por_cargo\\'
arquivo = 'Vendedor Pl.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo, encoding='ANSI')

###### Gerente Regional Pl.

In [23]:
# Filtrar as vendas de acordo com o cargo

dados = df[df['Cargo'] == 'Gerente Regional Pl.']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\Aluno\\Documents\\Eduardo-Inocencio-Python\\Arquivos\\relatorios_por_cargo\\'
arquivo = 'Gerente Regional Pl.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo, encoding='ANSI')

###### Coordenador de Vendas Sr.

In [24]:
# Filtrar as vendas de acordo com o cargo

dados = df[df['Cargo'] == 'Coordenador de Vendas Pl.']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\Aluno\\Documents\\Eduardo-Inocencio-Python\\Arquivos\\relatorios_por_cargo\\'
arquivo = 'Coordenador de Vendas Pl.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo, encoding='ANSI')

###### Coordenador de Vendas Jr.

In [25]:
# Filtrar as vendas de acordo com o cargo

dados = df[df['Cargo'] == 'Coordenador de Vendas Jr.']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\Aluno\\Documents\\Eduardo-Inocencio-Python\\Arquivos\\relatorios_por_cargo\\'
arquivo = 'Coordenador de Vendas Jr.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo, encoding='ANSI')

###### Supervisor de Vendas Jr.

In [26]:
# Filtrar as vendas de acordo com o cargo

dados = df[df['Cargo'] == 'Supervisor de Vendas Jr.']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\Aluno\\Documents\\Eduardo-Inocencio-Python\\Arquivos\\relatorios_por_cargo\\'
arquivo = 'Supervisor de Vendas Jr.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo, encoding='ANSI')

9. Crie um dataframe para cada coluna, contendo dados únicos.

In [35]:
# Criar um dataframe apenas com a coluna Cargo
dados_cargos = df['Cargo']

# Contar quantos elementos existem antes de remover as duplicadas
dados_cargos.count()

# Criar um novo dataframe sem duplicadas
dados_cargos = dados_cargos.drop_duplicates()

# Contar quantos elementos ficaram após a remoção das duplicadas
dados_cargos.count()

dados_cargos

0        Supervisor de Vendas Pl
11          Gerente Regional Jr.
37       Supervisor de Vendas Sr
48     Coordenador de Vendas Pl.
98                  Vendedor Jr.
162                 Vendedor Sr.
174                 Vendedor Pl.
186         Gerente Regional Pl.
276    Coordenador de Vendas Sr.
285    Coordenador de Vendas Jr.
436     Supervisor de Vendas Jr.
Name: Cargo, dtype: object